<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="border-bottom row"style="margin-bottom: 16px; padding-bottom: 4px;">
        <div class="col-9">
        <h4 style="color: crimson;margin-bottom:4px;padding-bottom: 4px;">{{job['name']}}</h4>
        <div>
            <b>location:</b> {{job['location']}}
        </div>
        {%if 'price' in job%}
        <div>
             <b>price:</b> {{job['price']}}
        </div>
        {%endif%}
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-primary">order now</button>
        
    </div>
    </div>
    
</body>
</html>